@import "../../index.scss";

.basic-layout {
  &__menu {
    padding: 0;
    background-color: $background-grey-dark;
  }

  &__content {
    height: 95vh;
    width: 110vh;
    overflow-y: scroll;
    padding: 0 !important;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
