@import "../../index.scss";

.basic-layout {
  &__menu {
    padding: 0;
    background-color: $background-grey-dark;
  }

  &__content {
    height: 90vh;
    width: 130vh;
    overflow-y: scroll;
    padding: 0 !important;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
  .basic-layout {
    &__content {
      height: 130vh;
      width: 130vh;
      overflow-y: scroll;
      padding: 0 !important;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
