@import "../../scss/index.scss";

.basic-layout {
  &__content {
    width: 100%;
  }
}

.user {
  margin-top: 20px;
  width: 100%;
  padding: 0;

  &__datos {
    width: 100%;
    border-radius: 10px;
  }
  &__title {
    border-radius: 10px;
    padding: 15px;
    width: 350px;
    height: 450px;
    background-color: $font-light;
    h2 {
      font-size: 22px;
      color: $font-dark;
    }
    h3 {
      font-size: 18px;
      color: $font-grey;
    }
  }

  &__info {
    border-radius: 10px;
    padding: 15px;
    width: 750px;
    height: 450px;
    background-color: $font-light;
  }

  &__ProyectosHead {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: $primary-light;
  }
  &__Proyectos {
    height: 50vh;
    background-color: $background-light;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    > .btn.btn-primary {
      display: flex;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: rgb(212, 212, 212);
      border: 0;
      color: $font-dark;
      &:hover,
      &:focus {
        background-color: rgb(165, 157, 157);
        color: $font-light;
      }
    }
  }
}
