@import "../../scss/index.scss";

.proyectos {
  background-color: $background-light;
  margin-top: 20px;
  border-radius: 20px;
  color: $font-dark;
  &__titulo {
    border-bottom: 1px solid $border-grey;
    padding: 10px;

    h2 {
      font-size: 22px;
      margin-bottom: 0;
      font-weight: bold;
    }
  }
  .load-more.btn.btn-primary {
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 0;
    color: $font-grey;
    &:hover,
    &:focus {
      background-color: transparent !important;
      color: $primary;
    }
  }
}
