@import "../../scss/index.scss";

.sign-in-form {
  h3 {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 18px;
    color: $font-grey;
  }
  .form-group {
    padding-bottom: 25px;
    input {
      font-size: 35px;
    }
  }
  button {
    width: 100%;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-top: 30px;

    .spinner-border {
      width: 20px;
      height: 20px;
      color: $font-light;
    }
  }
}
@media (max-width: 1199.98px) {
  .sign-in-form {
    h3 {
      font-size: 1.1rem;
    }
    .form-group {
      padding-bottom: 25px;
      input {
        font-size: 1.8rem;
      }
    }
    button {
      width: 100%;
      font-size: 1.2rem;
      padding: 10px;
      margin-top: 30px;

      .spinner-border {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
}

@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
@media (max-width: 575.98px) {
  .sign-in-form {
    h3 {
      font-size: 0.8rem;
    }
    .form-group {
      padding-bottom: 25px;
      input {
        font-size: 0.7rem;
      }
    }
    button {
      width: 100%;
      font-size: 0.7rem;
      padding: 10px;
      margin-top: 1rem;

      .spinner-border {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
